.route-wrapper {
   margin-top: 1rem;
   margin-bottom: 1rem;
   background: none;
}

.route-form {
   border: #a7291d solid;
   padding-top: 1rem;
   background: #fff;
}

.transport-tabs {
}

.mode-tab {
   background-color: #d95e52;
   color: black;
   display: block;
   padding: 0.5rem 1rem;
   border-top-left-radius: 10%;
   border-top-right-radius: 10%;
   margin: 0 0.25rem;
   width: 3.5rem;
}

.mode-tab i.fas {
   font-size: 1.5rem;
}

.mode-tab.active {
   background-color: #a7291d;
   color: #fffffa;
}

.inputs {
   margin-left: 0.1rem;
}

.deleteButton {
   border: none;
   padding: 0.5rem;
   background: none;
}

.waypoint-button {
   color: #000;
   margin: 0.5rem 0.25rem;
}

.waypoint-button i {
   height: 1rem;
   width: 1rem;
   font-size: 1rem;
   color: orangered;
}

#map {
   height: 85vh;
   width: 100%;
}

.footer {
   background: #fff;
}

@media (min-width: 768px) {
   .route-wrapper {
      position: absolute;
      z-index: 999;
      width: 22rem;
      top: 15%;
      left: 1%;
      background: #733049;
      padding-top: 1rem;
      padding-bottom: 1rem;
   }

   #map {
      height: 93vh;
   }

   .footer {
      position: absolute;
      z-index: 999;
      bottom: 1.5%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 35rem;
      font-size: 12px;
      color: #000;
      height: 20px;
   }
}

@media (min-width: 992px) {
   .route-wrapper {
      position: absolute;
      z-index: 999;
      width: 32rem;
      top: 15%;
      left: 1%;
      background: #fff;
      padding-top: 1rem;
      padding-bottom: 1rem;
   }

   #map {
      height: 94vh;
   }

   .footer {
      position: absolute;
      z-index: 999;
      bottom: 1.5%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 35rem;
      font-size: 12px;
      color: #000;
      height: 20px;
   }
}
